RewriteEngine On
RewriteBase /lp/bulk-intake-hopper
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lp/bulk-intake-hopper/index.html [L]