RewriteEngine On
RewriteBase /lp/vibratory-size-separator
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lp/vibratory-size-separator/index.html [L]